<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gl.ecomm.mapper.PesudoDomainMapper">
    

	<resultMap id="selectPesudoDomainMap" type="com.gl.ecomm.model.PesudoDomain">
	<!-- 
		<result property="oid" column="oid" />
	 -->
		<result property="createAt" column="create_at" />
		<result property="updateAt" column="update_at" />
		<result property="name" column="name" />
		<result property="identityId" column="identity_id" />
	</resultMap>

	<select id="selectPesudoDomain" resultMap="selectPesudoDomainMap">
		select * from pesudo_domain where oid = #{oid}
	</select>

	<select id="selectCount" resultType="int">
		select count(1) from pesudo_domain;
	</select>
	
	<insert id="insertPesudoDomain" parameterType="com.gl.ecomm.model.PesudoDomain">
	   insert into pesudo_domain (oid, create_at, update_at, name, identity_id)
	   values(#{oid}, #{createAt}, #{updateAt}, #{name}, #{identityId})
	</insert>
</mapper>